div{
height:100px;
width:100px;
    display:inline-block;
    background-color: aqua;
    visibility:hidden;
}
span{
    height:100px;
    width:100px;
    display:inline-block;
    background-color:aquamarine
}