*{
    box-sizing:border-box;
}
.box{
    background-color: lightblue;
    border:2px solid black;
    height:auto;
    width:50%;
    float:left;
    padding:25px;
    text-align:center;
    min-height:50%;
    /* min-width:75%; */
    /* max-width: 25%; */
}
.container{
    background-color:azure;
    height:100vh;
}